# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ${TOPDIR}/../layers/poky/meta \
    ${TOPDIR}/../layers/poky/meta-poky \
    ${TOPDIR}/../layers/meta-openembedded/meta-oe \
    ${TOPDIR}/../layers/meta-openembedded/meta-filesystems \
    ${TOPDIR}/../layers/meta-openembedded/meta-networking \
    ${TOPDIR}/../layers/meta-openembedded/meta-python \
    ${TOPDIR}/../layers/meta-freescale \
    ${TOPDIR}/../layers/meta-freescale-3rdparty \
    ${TOPDIR}/../layers/meta-freescale-distro \
    ${TOPDIR}/../layers/meta-bsp-imx8mq \
    ${TOPDIR}/../layers/meta-balena/meta-balena-common \
    ${TOPDIR}/../layers/meta-balena/meta-balena-dunfell \
    ${TOPDIR}/../layers/meta-balena-compulab \
    ${TOPDIR}/../layers/meta-rust \
    "

# i.MX Yocto Project Release layers
BBLAYERS += " ${TOPDIR}/../layers/meta-imx/meta-bsp "
BBLAYERS += " ${TOPDIR}/../layers/meta-imx/meta-sdk "
BBLAYERS += " ${TOPDIR}/../layers/meta-imx/meta-ml "

BBLAYERS += " ${TOPDIR}/../layers/meta-python2 "

BBLAYERS += " \
        ${TOPDIR}/../layers/meta-compulab \
	${TOPDIR}/../layers/meta-compulab-bsp/meta-bsp \
"
