[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust.git
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
[submodule "layers/meta-freescale"]
	path = layers/meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
[submodule "layers/meta-bsp-imx8mq"]
	path = layers/meta-bsp-imx8mq
	url = https://github.com/compulab-yokneam/meta-bsp-imx8mq.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
[submodule "layers/meta-freescale-3rdparty"]
	path = layers/meta-freescale-3rdparty
	url = git://github.com/Freescale/meta-freescale-3rdparty
[submodule "layers/meta-freescale-distro"]
	path = layers/meta-freescale-distro
	url = git://github.com/Freescale/meta-freescale-distro
[submodule "layers/meta-imx"]
	path = layers/meta-imx
	url = https://source.codeaurora.org/external/imx/meta-imx
