[Unit]
Description=CPU FAN temperature monitoring service

[Service]
Type=simple
Restart=always
RemainAfterExit=yes
ExecStart=@BASE_BINDIR@/bash @BINDIR@/fan-control

[Install]
WantedBy=multi-user.target
